.root {
  min-height: inherit;
  background: var(--color_2);

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  p {
    color: var(--color_1);
    a {
      font-weight: bold;
      color: var(--color_1);
    }
  }
}
