:root {
  --headerHeight: 57px;
  --footerHeight: 38px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100dvh;
}

.lightTheme {
  --color_1: black;
  --color_2: white;
}
.darkTheme {
  --color_1: white;
  --color_2: black;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}