/* .root {} */

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .headerText {
    color: var(--color_1);
  }

  input, textarea, .sendButton {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--color_1);
    width: 400px;
  }

  textarea {
    resize: none;
  }

  .sendButton {
    width: fit-content;
    cursor: pointer;
  }
}

@media screen and (width < 500px) {
  .container {
    padding: 10px;
 
    input, textarea {
      width: 100%;
    }
  }
}